
/* shared styles */
.text-primary-colour{
    color: orange;
}
.btn-primary{
    background-color: orange;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.secondary-bg{
    background-color: #d66b13;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.section-description{
    font-size: 18px;
    color: black;
}
.text-center{
    text-align: center;
}
/*header */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 230px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

/*banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.bannaer-greetings{
    font-size: 45px;
    font-weight: 100px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-picture{
    width: 580px;
}

/* about section */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.about-things{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* main styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
     margin-top: 130px;
      margin-bottom: 130px;
}

/* skills*/
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;
}